// Colors
$primary-red: #ff5555;
$secondary-red: #ff9090;

$primary-black: #000000;
$primary-white: #ffffff;

$gradient-dark: #000000;
$gradient-light: #4b0000;

$btn-black: #000000;
$btn-black-hover: #474747;

$btn-white: #ffffff;
$btn-white-hover: #dddddd;

$border-gray-100: #5c5c5c;
$border-gray-200: #999999;

$background-gray: #2c2c2c;
$grey-100: #525252;

$trans: all 0.3s ease-in-out;